img {
  float: left;
  vertical-align: text-top;
  margin: 5px;
}

#box {
  width: 100%;
  overflow: hidden;
}

#content {
  width: 600px;
  height: 500px;
  overflow-y: auto;
  float: left;
}

#map {
  margin-left: 620px;
  position: absolute;
  width: 650px;
  height: 400px;
}
